@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  /* --main: #2ecc71; */
  /* --main: #F5E216; */
  --main: #42A5F5;
  --text: #eee;
}

* {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  max-width: 100%;
  overflow-x:  hidden;
}

.main-width {
  width: 1280px;
  max-width: 90%;
  margin: 0 auto;
  padding: 0px 20px;
}

.hero {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: black;
  background-size: cover;
  background-position: center;
  position: relative;
}

.container {
  padding-top: 10%;
}

.container  .hero-container{
  display: flex;
  justify-content: space-between;
}


.container .hero-container .hero-text {
  margin-bottom: 40px;
  border-left: 3px solid var(--main);
  padding-left: 10px;
}

.container .hero-container .hero-text h1 {
  color: var(--text);
  font-size: 47px;
  font-weight: 900;
  line-height: 1.2;
  margin: 20px 0 20px;
}

span {
  color: var(--main);
}

.container .hero-container .hero-text h3 {
  color: var(--text);
  font-weight: 400;
  font-size: 25px;
}

.container .hero-container .hero-text p {
  width: 600px;
  max-width: 100%;
  color: var(--text);
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 30px;
} 

.social a {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: var(--text);
  cursor: pointer;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 35px;
}

.social a:hover {
  transform: scale(1.15);
  transition: .2s;
}

.container .hero-container .hero-text button {
  /* color: var(--text); */
  color: black;
  background-color: var(--main);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding: 8px 30px;
  border: 2px solid var(--main);
  border-radius: 30px;
  cursor: pointer;
}

.container .hero-container .hero-text button:hover {
  background-color: transparent;
  border: 2px solid var(--main);
  color: var(--main);
  transition: .25s;
}

.container .hero-container .hero-text button::after {
  content: "More About Me (CV)";
}
.container .hero-container .hero-text button:hover::after {
  content: "Open Resume";
}

.container .hero-container .hero-img{
  background-color: var(--main);
  object-fit: cover;
}

.container .hero-container .hero-img img{
  width: 450px;
}

.bottom {
  margin-top: 12%;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}

.bottom p {
  color: var(--text);
  letter-spacing: 2px;
  font-size: 15px;
}

.bottom p .username a{
  color: var(--text);
  cursor: pointer;
}

.bottom p .username a:hover{
  color:var(--main);
  transition: all 0.3s ease-in-out;
}

.projectContainer{
  margin-top: 50px;
}

.projectContainer .projectsTitle{
  color: var(--text);
  font-size: 32px;
  border-bottom: 3px solid var(--main);
  margin: auto;
}

@keyframes swipeL {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
}

@keyframes swipeR {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
}

.projectContainer h4 {
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
  margin-top: 50px;
}
.projectContainer h4 i.swipeLeft {
  animation: swipeL 1s infinite;
}

.projectContainer h4 i.swipeRight {
  animation: swipeR 1s infinite;
}

.swiper {
  width: 900px;
  height: 600px;
}

.swiper .swiper-wrapper .swiper-slide {
  display: flex;
  border-radius: 18px;
  font-size: 22px;
  color: #fff;
  position: relative;
}

.app-logo-title{
  display: flex;
  align-items: center;
  position: absolute;
  top: 5px;
  left: 25px;
  background-color: rgba(0, 0, 0, 0.863);
  padding: 5px 5px;
  border-radius: 6px;
}

.container-logo{
}

.app-logo{
  width: 45px;
  height: 45px;
  border-radius: 10px;
  vertical-align: middle;
  margin-right: 10px;
}

.app-tittle{
}

.swiper-photo-container{
  display: flex;
}

.swiper-photo{
  margin-top: 41px;
  width: calc(100% / 3);
  height: 100%;
}

.swiper-photo .swiper-photo-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.app-store-svg{
  width: 160px;
  height: 80px;
  transform: rotate(42deg);
  background-color: #131315;
  position: absolute;
  top: -18px;
  right: -55px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

@keyframes octocat-wave {
  0%, 100% { transform: rotate(0); }
  20%, 60% { transform: rotate(-25deg); }
  40%, 80% { transform: rotate(10deg); }
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

.projectContainer .projects{
  display: flex;
  justify-content: space-around;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 20px;
}

.projectContainer .projects .project{
  width: 270px;
  height: 300px;
  border-bottom: 3px solid var(--main);
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.projectContainer .projects .project .project-logo{
  width: 125px;
}

.projectContainer .projects .project .project-logo a img{
  border-radius: 35px;
  width: 100%;
}

.projectContainer .projects .project .project-desc{
  margin-top: 20px;
}

.projectContainer .projects .project .project-desc > span{
 color: var(--text);
 font-size: 18px;
}

/*
                      ███████████████████████ 
                     █ ▄▄▄ ▌                 █
                     █  █   █ █  █   █ ▀ ▄   █
                     █  █   █ █  ▐ █ ▌ █ █▀█ █
                     █ ▀▀▀  ▀ ▀   ▀ ▀  ▀ ▀ ▀ █
                     █  █████████████████████ 
                     █ █                      
     ████████        ██                       
    █▒▒▒▒▒▒▒▒██   ███                         
  ██▒▒▒▒▒▒▒▒▒▒▒█ █░░░█                        
 █▒▒▒▒▒▒▒▒▒▒▒▒▒▒█░░░░█                        
█░▒▒▒▒▒▒▒▒▒▒▒▒▒░░░███                         
█░░█░░█████░░█░░██                            
 █████     █████                              
 
*/